/* src/styles/AboutUs.css */
.about-us {
  text-align: center;
  padding: 20px;
  background-color: black;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  margin: 20px;
  width: 200px;
}

.team-member img {
  width: 100%;
  border-radius: 50%;
}

.team-member h2 {
  margin: 10px 0 5px;
}

.team-member h3 {
  margin: 0 0 10px;
  font-weight: normal;
  color: #666;
}

.team-member p {
  font-size: 14px;
  color: #333;
}
