* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background-color: #034aa6;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto 0;
  text-decoration: white;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 1rem;
  color: white;
}

.footer-section h2 {
  margin-bottom: 1rem;
}

.footer-section p {
  margin: 0.5rem 0;
}

.social-links a {
  display: block;
  margin: 0.5rem 0;
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

.maps-footer a {
  display: block;
  margin: 0.5rem 0;
  color: white;
}
